.portfolio-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.portfolio-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 500ms,
    transform 500ms;
}

.portfolio-item-exit {
  opacity: 1;
}

.portfolio-item-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 500ms,
    transform 500ms;
}
